beautifulsoup4==4.10.0
billboard.py==7.0.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.11
colour==0.1.5
idna==3.3
Pillow==9.0.1
pymusixmatch==0.3
python-dotenv==0.19.2
requests==2.27.1
six==1.16.0
soupsieve==2.3.1
spotipy==2.19.0
tkmacosx==1.0.4
urllib3==1.26.8
